---
title: "{{qmd.title}}"
subtitle: "{{qmd.subtitle}}"
execute: 
    eval: false # by default don't evaluate cell
    echo: true # echo source code to doc
# subtitle: "OptionalSubtitle"
title-slide-attributes: 
    # data-background-image: background.png # https://www.slidebackground.com/collection/natural-ppt
    data-background-size: contain
    data-background-opacity: "0.5"
author: # https://quarto.org/docs/authoring/front-matter.html
    - name: "{{qmd.author}}"
      affiliation: "{{qmd.affiliation}}"
# institute: "{{qmd.institute}}" # This attaches to the first author only
date: {{qmd.date}}
jupyter: julia-1.10
# bibliography: main.bib
format: 
    revealjs:
        width: 1600 # increasing width and height results in a smaller relative size of font in display
        height: 900 # See [Presentation Size](https://quarto.org/docs/presentations/revealjs/advanced.html#presentation-size)
        theme: [serif,custom.scss] # Please refer https://quarto.org/docs/presentations/revealjs/#themes
        # logo: Fig_logo_bar_ncu.png
        preview-links: auto # Allow preview links in presenting mode
        slide-number: true
        toc: true
        toc-title: Outline # Title for TOC
        toc-depth: 3
        # parallax-background-image: background.png
        parallax-background-image: https://raw.githubusercontent.com/okatsn/QuartoTemplates/main/tree-slide/background.png
        parallax-background-size: "1920px 1200px"
        parallax-background-horizontal: 20
        parallax-background-vertical: 20
        footer: <{{qmd.footer}}>
        chalkboard: true
        # Save, download and restore your sketch: https://stackoverflow.com/questions/76017331/highlight-elements-on-table-in-revealjs-quarto
---